<!doctype html>
<html ng-app="condosApp">
  <head>
    <meta charset="utf-8">
    <title>condos</title>
    <script src="./libs/angular.min.js"></script>
    <script src="./condos.js"></script>
    <link rel="stylesheet" href="./libs/bootstrap.min.css" />
    <link rel="stylesheet" href="condos.css" />
  </head>
  <body>
    <main class="container" ng-controller="CondosController as condos">
      <header class="page-header">
        <h1>condos</h1>
      </header>
      <div class="panel panel-default">
        <form action="#" class="panel-body">
        <div class="row">
          <div class="col-sm-6">
            <input type="search" ng-model="search"
                  class="form-control" name="nomcondo"
                  placeholder="Poste source" autofocus="true"
                  list="postes_sources">
            <datalist id="postes_sources">
              <option ng-repeat="ps in condos.ps" value="{{ps.nom}}">
            </datalist>
          </div>
          <div class="col-sm-6">
            <select name="zoneconduite" class="form-control">
              <optgroup label="Zone de conduite...">
              <option ng-repeat="zone in condos.zones" value="{{zone.nom}}">{{zone.nom}}</option>
            </optgroup>
            </select>
          </div>
        </div>
        </form>
      </div>
      <div class="condos list-group">
        <div class="list-group-item" ng-repeat="condo in condos.condos"
                                      ng-show="condo.ps.match(search.toUpperCase()) !== null">
          <h4 class="list-group-item-heading">
            {{condo.nom}} <small>{{condo.ps}}</small>
          </h4>
          <div class="list-group-item-text">
              <ul class="nav nav-tabs">
              <li role="presentation"><a href="#">Historique des évènements</a></li>
              <li role="presentation"><a href="#">Historique des télémesures</a></li>
            </ul>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
